<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  We are a brand new company (of 1) set out on the goal of connecting LTS web stewards together. Other LTS staff are allowed to use this site, but be warned: LTS web stewards have priority if servers get overloaded.
</p>