<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Yooper is a brand new company (of 1) set out on the goal of connecting people together. Surprisingly, nobody else has come up with the idea of creating a "social network" before, so we (I mean, I) have seized the moment and done just that! <br>
  <br>
  Just don't sue me. Plz. <br>
  -Kyle
</p>
