<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Yooper has no form of customer service whatsoever, therefore you are on your own for any questions. I do have a personal website if you really need to reach me (e.g. how to convert my yoops to boinks??), but I'll leave that up to you to find.
</p>
