<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You may contact the LTS Help Desk by calling 715-836-5711 or via email to <a href="mailto:helpdesk@uwec.edu" target="_blank">helpdesk@uwec.edu</a>.
  <br>
  If you wish to visit in person, web stewards are located in Schofield 130.
</p>