<% provide(:title, 'FAQ') %>
<h1>FAQ</h1>
<p>
  <b>Question: What is Yooper?</b><br>
  Yooper is a website.
  <br><br>

  <b>Question: What the hell is a yoop?</b><br>
  Firstly, watch your language. Yoop is conveniently defined already on <a href="http://www.urbandictionary.com/define.php?term=yoop" target="_blank">urban dictionary</a> as "a fun and exciting, yet semi-sarcastic way of saying yup." However, for the purpose of this website, think of a yoop more like a bird chirping (can't quite think of the actual term).
  <br><br>

  <b>Question: Why is my yoops feed empty?</b><br>
  You need to follow others in order to see their yoops in your feed. Click on the Users tab to do just that.
  <br><br>

  <b>Question: Why can't I like posts? Why can't I comment? Where is the refresh button? ARGGHHHH!</b><br>
  Shush. Don't make me delete your account. I can, and I will. #REST_API
  <br><br>

  <b>Question: How do I getz boinks?</b><br>
  Boinks can be exchanged for 10 yoops at your local Floop Market.
</p>
