<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  If you know how to write messages in under 140 characters, you're good to go! Also, click on users and follow them to show their messages in your feed.
</p>