<footer class="footer">
  <small>
    Customized Rails Tutorial by <a href="https://github.com/kylejohnsonkj" target="_blank">Kyle Johnson</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://ltsstatus.apps.uwec.edu" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>